<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Catalog</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Catalog</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>catalog</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Application needs access to the camera in order to display AR world correctly.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application needs access to Location Services in order to track your location properly.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LominoUIApp-Bold.ttf</string>
		<string>LominoUIApp-BoldItalic.ttf</string>
		<string>LominoUIApp-ExtraBold.ttf</string>
		<string>LominoUIApp-ExtraBoldItalic.ttf</string>
		<string>LominoUIApp-Italic.ttf</string>
		<string>LominoUIApp-Light.ttf</string>
		<string>LominoUIApp-LightItalic.ttf</string>
		<string>LominoUIApp-Medium.ttf</string>
		<string>LominoUIApp-MediumItalic.ttf</string>
		<string>LominoUIApp-Regular.ttf</string>
		<string>LominoUIApp-Wide.ttf</string>
		<string>LominoUIApp-WideBold.ttf</string>
		<string>LominoUIApp-WideBoldItalic.ttf</string>
		<string>LominoUIApp-WideItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>